@keyframes moveBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

body {
  background-image: url(/images/background.jpg);
  background-blend-mode: multiply;
  background-color: rgba(112, 112, 112, 0.904);
  background-repeat: repeat;
  background-size: cover;
  animation: moveBg 3s ease-in-out infinite;
}

