body{
  background-color: rgb(201, 228, 235);
  
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height:70px;
  z-index: 1;
  background-color: #6a1b9a;
  border-radius: 5px;
}

.logo {
  position: absolute;
    left: 0px;
  margin: 10px;
  height: 130px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}
nav .nav-right {
  display: flex;
  margin: auto;
}

nav .nav-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .nav-right li {
  margin: 0 10px;
}

nav .nav-right a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #9c27b0;
  border-radius: 5px;
}

nav .nav-right a:hover {
  background-color: #7b1fa2;
}

/* CSS for the dropdown button and content */
nav .nav-dropdown {
  display: none; /* this will hide the dropdown by default */
}

nav .nav-dropbtn {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px; /* this will add some padding to the links */
  background-color: #9c27b0; /* this will give the links a button look */
  border-radius: 5px;
}

nav .nav-dropdown-content {
  display: none; /* this will hide the dropdown content by default */
  position: absolute;
  background-color: #6a1b9a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
nav .nav-link{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px; /* this will add some padding to the links */
  background-color: #9c27b0; /* this will give the links a button look */
  border-radius: 5px; /* this will add rounded corners to the links */

}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px; /* this will add some padding to the links */
  background-color: #9c27b0; /* this will give the links a button look */
  border-radius: 5px; /* this will add rounded corners to the links */
}

a:hover {
  background-color: #7b1fa2; /* this will change the background color of the links when hovered over */
}

nav .nav-dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .nav-dropdown-content a:hover {
  background-color: #7b1fa2;
}
nav .nav-dropdown:hover .nav-dropdown-content {
  display: block; /* show the dropdown menu */
}
/* CSS for showing the dropdown on small screens */
@media screen and (max-width: 800px) {
  nav .nav-right {
    display: none; /* hide the default navigation links */
  }
  
  nav .nav-dropdown {
    display: block; /* show the dropdown button */
  }
}
#profil{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px; /* this will add some padding to the links */
  background-color: #9c27b0; /* this will give the links a button look */
  border-radius: 5px;
}
/* CSS for showing the dropdown content when the button is clicked */
nav .nav-dropbtn:hover + .nav-dropdown-content {
  display: block;
}
.card {
    width: 60% ;
    height: 80% ;
    margin: auto ;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    transition: transform 0.5s ease;
    background-color: #7b1fa2; 
}

.card:hover {
    transform: scale(1.05); /* Increase the size of the card slightly on hover */
}
.card-img-top {
    width: 100%; /* set the width of the image */
    height: 400px; /* set the height of the image */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body {
    width: 80%;
    height: 150px;
    padding: 1rem; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    font-size: 1.2em; /* Increase the font size for better visibility */
    color: #fff; /* Dark gray */
    text-shadow: 2px 2px #9c27b0; /* Add a text shadow for a bolder look */
    margin-bottom: 0.5rem; /* Add some margin for better spacing */
}

.btn-primary {
    background-color: #1E90FF; /* Blue */
    color: #fff; /* White */
    font-weight: bold;
    border-radius: 10px; /* Add rounded corners for a softer look */
    transition: background-color 0.5s ease; /* Add a smooth transition for the background color */
}

.btn-primary:hover {
    background-color: #87CEFA; /* Light blue */
}
.card-deck {
    display: flex;
    flex-wrap: wrap; /* add this to make the cards wrap properly */
    justify-content: space-between;
    padding-top: 50px;
  }
  .container {
    max-width: 1200px; /* set the maximum width of the container */
    margin: 20px auto;
 /* center the container horizontally */
}

/* Display 4 cards in a row on screens larger than 1200px */
@media (min-width: 1200px) {
    .card {
        width: calc(100% / 5 - 10px); /* adjust the width of the cards */
    }
}

/* Display 3 cards in a row on screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .card {
        width: calc(100% / 4 - 10px); /* adjust the width of the cards */
    }
}

/* Display 2 cards in a row on screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: calc(100% / 3 - 10px); /* adjust the width of the cards */
    }
}
/* Display 2 cards in a row on screens between 768px and 991px */
@media (min-width: 421px) and (max-width: 767px) {
  .card {
      width: calc(100% / 2 - 10px); /* adjust the width of the cards */
  }
}

/* Display 1 card in a row on screens smaller than 768px */
@media (max-width: 420px) {
    .card {
        width: 100%; /* adjust the width of the cards */
    }
}
#profil{

}