body{
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 1;

  }
.logo {
    position: absolute;
      left: 0px;
    margin: 10px;
    height: 130px;
  }
.navbar{
    background-color: #3c3f42;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
