.navbar {
  background-color: #333;
  box-shadow: 0px 0px 10px #bbb;
  padding: 0;
  z-index: 101;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  height: max-content;
  margin: 0;
}
.navbar-nav .nav-link{
  border-radius: 10px;
  margin: 5px;  
}
.navbar-brand img {
  height: 100px;
}

.nav-item a {
  background-color: #6c757d;
  font-size: 18px;
  color: #fff;
}

.nav-item a:hover {
  background-color: rgb(131, 23, 131);
  color: #fff;
}

.form-control{
  border-radius: 25px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 3px #bbb;
}

.btn-outline-success {
  border-radius: 25px;
  border: 2px solid #ccc;
  color: #ccc;
  background-color: #6c757d;
  box-shadow: 0px 0px 3px #ccc;
  margin-right: 10px;
}

.btn-outline-success:hover {
  border-color: #ccc;
  background-color: rgb(131, 23, 131);
  color: #fff;
}
.dropdown{
  margin-right: 10px;
}
.dropdown-toggle:hover{
  background:rgb(131, 23, 131);
}
.dropdown-menu a {
  font-size: 18px;
  color: #fff;
  border-radius: 5%;
}
.dropdown-menu{
  border-radius: 20%;
}
.dropdown-menu a:hover {
  background-color: rgb(131, 23, 131);
  color:#fff;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #6c757d;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  overflow-y: auto;
  max-height: 20rem;
  left: auto;
  right: 0;
}
.dropdown-item{
  width: 100%;
}
.header__sign-in {
  border-radius: 20%;
  border: 2px solid var(--main);
  display: flex;
}
.header__sign-in .user-menu-avatar {
  margin-left: 0px;
  height: 32px;
  width: 32px;
  background-color: #2e3648;
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
