body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0b6285;
  background-color: rgb(224, 224, 223);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:hover {
  color: #d6e3e7;
  background-color: rgb(31, 59, 199);
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
