<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>EJS frontend</title>
<style>
 .tabl {width:400px;border:1px solid blue;display:table}
 .row {height:40px;display:table-row}
 .cell {border:1px solid black;display:table-cell}
</style>
</head>
<body>
    <table id="hely">
      <tr><th>ID</th><th>Name</th><th>CountryCode</th><th>District</th><th>Population</th></tr>
    </table>

  </div>

<script type="text/template" id="template">
  <% list.forEach(function(item) {%>
    <tr>
      <td><%= item.ID %></td>
      <td><%= item.Name %></td>
      <td><%= item.CountryCode %></td>
      <td><%= item.District %></td>
      <td><%= item.Population %></td>
    </tr>
  <%}); %>
</script>

<script>
  currentPage=1;

  function appendContent(page){
    fetch('/varosok/'+page,{
        method: 'GET'
    })
    .then(response => response.json())
    .then(data => {
        template = document.getElementById('template').innerHTML;
        compiled = ejs.render(template, { list: data });
        const myTable = document.getElementById("hely");
        myTable.innerHTML+=compiled;
      });
    } 

    const handleInfiniteScroll = () => {
      const endOfPage = window.innerHeight + window.scrollY >= document.body.offsetHeight;
      if (endOfPage) { 
        appendContent(++currentPage)
      }

    /* if (currentPage === pageCount) {
        removeInfiniteScroll();
      }
    */
    };

window.addEventListener("scroll", handleInfiniteScroll);  
appendContent(currentPage);

</script>  

<script src="ejs.min.js"></script>
</body>
</html>
