<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS - error</title>
</head>
<body>
   <h1><%= msg.message %></h1> 
   <h2><%= msg.status %></h2> 
   <img src="/images/404.webp" style="width:200px;" />
   <hr/>
   <pre><%= msg.stack %></pre>
</body>
</html>