<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/Card.css">
  </head>
  <body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% list.forEach(function(item,index) { %>
          <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
            <div class="card-wrapper container-sm d-flex justify-content-around">
              <div class="card">
                <div class="card__cover">
                <img height="270px" src="/Filmek/<%=item.EredetiCim%>/Image_1.jpg" alt="Movie poster">
            </div>  
            <div class="card__content">
                <h4 class="card__title">
                    <a href="film/<%=item.FilmID%>"><%= item.MagyarCim %></a>
                </h4>
            </div>
            </div>
          </div>
        <% } %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </body>
</html>
