<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Retro Film Kincsek</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <div class="indexcim"><h1>Idén van az elkészülés évfordulója:</h1></div>
    <div class="container">
        <div class="carousel">
          <div class="carousel__face"><a href=""><span></span></a></div>
          <div class="carousel__face"><a href=""><span></span></a></div>
          <div class="carousel__face"><a href=""><span></span></a></div>
          <div class="carousel__face"><a href=""><span></span></a></div>
          <div class="carousel__face"><a href=""><span></span></a></div>
          <div class="carousel__face"><a href=""><span></span></a></div>
        </div>
      </div>
      

</body>
</html>