<!DOCTYPE html>
    <!-- Coding by CodingLab | www.codinglabweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Card Slider</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="css/swiper-bundle.min.css">

        <!-- CSS -->

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.bundle.min.js"></script>
    
    
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/Card.css" />
        <link rel="stylesheet" href="/css/main.css"/>
 
                                        
    </head>
    <body>
         <%- include('navbar.ejs') %>
         <div class="slide-container swiper">
          <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
                <% list.forEach(function(item,index){ %>
                  <div class="card swiper-slide">
                    <div class="card__cover">
                      <img height="270px"  src="/Filmek/<%= item.EredetiCim%>/Image_1.jpg" alt="">
                    </div>
                    <div class="card__content">
                      <h4 class="card__title">
                          <a href="film/<%=item.FilmID%>"><%= item.MagyarCim %></a>
                      </h4>
                    </div>
                  </div>
                <% }); %>
              </div>
          </div>
      </div>
      

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </body>

    <!-- Swiper JS -->
    <script src="js/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="js/script.js"></script>
</html>