<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Retro Film Kincsek</title>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              <div class="col-sm-4 splide__slide m-2">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Crad Slider 1</h5>
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 splide__slide m-2">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Crad Slider 2</h5>
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 splide__slide m-2">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Crad Slider 3</h5>
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 splide__slide m-2">
                <div class="card bg-dark text-white">
                  <div class="card-body">
                    <h5 class="card-title">Crad Slider 4</h5>
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script>
      var splide = new Splide(".splide", {
        type: "loop",
        perPage: 3,
        rewind: true,
        breakpoints: {
          640: {
            perPage: 2,
            gap: ".7rem",
            height: "12rem",
          },
          480: {
            perPage: 1,
            gap: ".7rem",
            height: "12rem",
          },
        },
      });
      splide.mount();
    </script>
  </body>
</html>
