<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css/bootstrap.min.css" />
    <script src="./css/js/bootstrap.bundle.min.js"></script>
    <title>Retro Film Kincsek</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <h1>Üdvözöl az <%=title%> (<%=ip%>) </h1>
    <h1>KÉPTÁR alkalmazás</h1>
    <%- include('footer.ejs') %>

</body>
</html>