<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/Card.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Retro Film Kincsek</title>
  </head>

  <body>
    <%- include('navbar.ejs') %>
    <div class="container">
        <div class="row row--grid">
            <% list.forEach(function(item,index) { %>
                <div class="col-6 col-sm-5 col-md-3 col-lg-2">
                    <div class="card">
                        <div class="card__cover">
                            <img height="270px" src="/Filmek/<%=item.EredetiCim%>/Image_1.jpg" alt="Movie poster">
                        </div>  
                        <div class="card__content">
                            <h4 class="card__title">
                                <a href="../film/<%=item.FilmID%>"><%= item.MagyarCim %></a>
                            </h4>
                        </div>
                    </div>  
                </div>
            <% }); %>
        </div>
    </div>
    <h1></h1>
  </body>
</html>
