<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendations</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="path/to/image" alt="Movie Recommendations">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Random</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Category</a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    <div class="container">
        <div class="card-deck">
            <% list.forEach(function(item,index) { %>
                <div class="card">
                    <img class="card-img-top" src="/Filmek/<%=item.EredetiCim%>/Image_1.jpg" alt="Movie poster">
                    <div class="card-body">
                        <h4 class="card-title"><%= item.MagyarCim %></h4>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
  </body>
</html>
