<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/Card.css" />
    <title>Retro Film Kincsek</title>
  </head>

  <body>
    <%- include('navbar.ejs') %>
 

    <script type="text/javascript" src="./js/Scroll.js"></script>
    <h1></h1>
    <div id="hely">
                <script>
                appendContent(currentPage);
              </script>
        </div>
    </div>
  </body>
</html>
