<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Retro Film Kincsek</title>
</head>
<body>
  <%- include('navbar.ejs') %>
<<<<<<< HEAD
 
=======
  
>>>>>>> bceae1a3ae01286b2893551026976fdc04283d5b
    <div class="login-container">
        <h1>Bejelentkezés</h1>
        <form action="/user/login" method="post">
          <input type="text" placeholder="Felhasználónév" name="Username">
          <input type="password" placeholder="Jelszó" name="Password">
          <input type="submit" value="Bejelentkezés"><br>
          <% if(hibas==true){  %>
            <p class="hibas">Hibás felhasználónév vagy jelszó!</p>
            <% } %>
          <a href="reg" class="regLink">Még nem regisztrált?</a>

        </form>
      </div>
</body>
</html>