<link rel="stylesheet" href="/css/navbar.css">
<!-- The navigation menu -->
<div class="navbar">
  <a href="/">Nyitólap</a>
  <a href="/kepek">Képek</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Felhasználó <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/login.html">Bejelentkezés</a>
      <a href="#deliver">Profil adatok</a>
      <a href="#package">Saját képek</a>
      <a href="/user/logout">Kijelentkezés</a>
    </div>
  </div>
  <a href="#contact">Contact</a>
</div>
