
<header class="header">
<div class="adriv_nav_cstm">
  <div class="row">
    <div class="col-12">
     <div class="header__content">
 

<a href="https://animedrive.hu" class="header__logo">
  <p class="online-now-counter">2288 ONLINE</p> <img src="https://animedrive.hu/img/logoBasic.png" alt="">
  </a>
  
  
  <ul class="header__nav">
  
  <li class="header__nav-item">
  <a href="https://animedrive.hu/search/" class="header__nav-link">KERESÉS</a>
  </li>
  <li class="header__nav-item">
  <a href="https://animedrive.hu/anime/?id=1263" class="header__nav-link">RANDOM</a>
  </li>
  <li class="header__nav-item">
  <a href="https://animedrive.hu/donate/" class="header__nav-link">TÁMOGATÁS</a>
  </li>
  <li class="header__nav-item">
  <a href="https://animedrive.hu/discord/" class="header__nav-link">DISCORD</a>
  </li>
  <li class="header__nav-item">
  <a href="https://moviedrive.hu/?ref=1" class="header__nav-link">FILMEK</a>
  </li>
  
  <li class="dropdown header__nav-item">
  <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>
  <ul class="dropdown-menu header__dropdown-menu scrollbar-dropdown mCustomScrollbar _mCS_1 mCS_no_scrollbar" aria-labelledby="dropdownMenuMore" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-custom-bar mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
  <li><a href="https://animedrive.hu/search/?status=Fut">JELENLEG FUT</a></li>
  <li><a href="https://animedrive.hu/about/">RÓLUNK</a></li>
  <li><a href="https://animedrive.hu/stream/">ÉLŐ</a></li>
  <li><a href="https://animedrive.hu/minecraft/">MINECRAFT</a></li>
  
  <li><a href="https://animedrive.hu/dmca/">DMCA</a></li>
  <li><a href="https://animedrive.hu/stats/">STATISZTIKÁK</a></li>
  </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-custom-bar mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div><div class="mCSB_draggerRail"></div></div></div></div></ul>
  </li>
  <li class="header__nav-item" style="margin: 0 15px 0 0;">
  <a class="header__nav-link" href="https://animedrive.hu/tiktok/">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path d="M9 12a4 4 0 1 0 4 4v-12a5 5 0 0 0 5 5"></path>
  </svg>
  </a>
  </li>
  <li class="header__nav-item" style="margin: 0 15px 0 0;">
  <a class="header__nav-link" href="https://animedrive.hu/instagram/"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <rect x="4" y="4" width="16" height="16" rx="4"></rect>
  <circle cx="12" cy="12" r="3"></circle>
  <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
  </svg>
  </a>
  </li>
  
  </ul>
  
  <div class="header__auth">
  <form action="https://animedrive.hu/search/" method="get" class="header__search">
  <input class="header__search-input" type="text" name="q" placeholder="Keresés...">
  <button class="header__search-button" type="submit">
  <i class="icon ion-ios-search"></i>
  </button>
  <button class="header__search-close" type="button">
  <i class="icon ion-md-close"></i>
  </button>
  </form>
  
  <button class="header__search-btn" type="button">
  <i class="icon ion-ios-search"></i>
  </button><a href="https://animedrive.hu/login" class="header__sign-in">
  <i class="icon ion-ios-log-in"></i>
  <span>BELÉPÉS</span>
  </a>
  </div>
  <button class="header__btn" type="button">
  <span></span>
  <span></span>
  <span></span>
  </button>
  
        </div>
      </div>
    </div>
  </div>
</header>
  