
  <nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="/">
      <img src="/images/Logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/filmek">Filmek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/szures">Szűrés</a>
        </li>
        <% if (locals.session.Jogosultsag) { %>
        <li class="nav-item">
          <a class="nav-link" href="#">Kedvenceim</a>
        </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0 " action="/kereses" method="post">
        <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search" name="Kereses">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
      </form>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Profil
        </a>
        <ul class="dropdown-menu">
          <% if (!locals.session.Jogosultsag) { %>
          <li><a class="dropdown-item" href="/user/reg">Regisztráció</a></li>
          <li><a class="dropdown-item" href="/user/login">Bejelentkezés</a></li>
          <% }else{ %>
          <li><a class="dropdown-item header__sign-in" href="/user/profil"><%= session.name%> <img src="/Userprofile/<%= session.profilkep%>"class="user-menu-avatar" alt=""></a></li>
          <li><a class="dropdown-item" href="/user/logout">Kijelentkezés</a></li>
          <% } %>
        </ul>
      </div>
      <% if (locals.session.Jogosultsag==3) { %>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Adminisztrátor
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/admin/userlist/1">Felhasználókezelés</a></li>
          <li><a class="dropdown-item" href="">Filmek kezelése</a></li>
          <li><a class="dropdown-item" href="">Kategóriák kezelése</a></li>
          <li><a class="dropdown-item" href="">Egyéb</a></li>
        </ul>

      </div>
      <% } %>
    </div>
  </nav>
