<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reg.css">
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="registration-container">
      <form action="/user/reg" method="post" class="input">
        <h1>Registration</h1>
        <input type="text" placeholder="Full Name" name="fullname">
        <input type="text" placeholder="Username" name="username">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="passwordConfirm">
        <input type="submit" value="Submit">
      </form>
    </div>
</html>
