<!DOCTYPE html>
<html>
  <head>
    <title>Retro Film Kincsek</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/reg.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="registration-container">
      <form
        action="/user/reg"
        method="post"
        class="input"
        onsubmit="return passCheck()"
      >
        <h1>Regisztráció</h1>
        <input type="text" placeholder="Teljes Név" maxlength="20" name="fullname" />
        <input type="text" placeholder="Felhasználónév" maxlength="20" name="username" />
        <input type="email" placeholder="Email-cím" maxlength="20" name="email" />
        <input type="password" placeholder="Jelszó" maxlength="30" name="password" />
        <input
          type="password"
          placeholder="Jelszó megerősítése"
          name="passwordConfirm"
          maxlength="30"
        />
        <input type="submit" value="Regisztrálok" />
      </form>
    </div>
    <script>
function passCheck() {
  var pass = document.getElementsByName("password")[0].value;
  var confpass = document.getElementsByName("passwordConfirm")[0].value;


  if (pass === "") {
    alert("A jelszó mező nem lehet üres.");
    return false;
  }


  if (pass.length < 8) {
    alert("A jelszónak minimum 8 karakter hosszúnak kell lennie.");
    return false;
  }


  if (pass !== confpass) {
    alert("A jelszók nem egyeznek meg.");
    return false;
  }


  if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/.test(pass)) {
    alert("A jelszónak legalább egy kis- és nagybetűt, valamint számot is tartalmaznia kell.");
    return false;
  }

 
  return true;
}
      
    </script>
  </body>
</html>
