<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/reg.css">
  </head>
  <body>
    <div class="registration-container">
      <h1>Registration</h1>
      <form action="/register" method="post">
        <input type="text" placeholder="Full Name" name="fullname">
        <input type="text" placeholder="Username" name="username">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="passwordConfirm">
        <input type="submit" value="Submit">
      </form>
    </div>
</html>
