<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/szures.css">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <div class="szures-container">
      <form action="/szures" method="post">
        <h1>Keresés</h1>
        <input type="text" placeholder="Magyar Címe" name="MagyarCim">
        <input type="text" placeholder="Eredeti Címe" name="EredetiCim">
        <input type="number" min="1927" max="1999" placeholder="Év" name="Ev">
        <input type="text" placeholder="Rendező" name="Rendezo">
        <input type="text" placeholder="Színész" name="Szinesz">
        <input type="text" placeholder="Kategória" name="Kategoria">
        <input type="submit" value="Submit">
      </form>
    </div>
</html>
