<!DOCTYPE html>
<html>
  <head>
    <title>Retro Film Kincsek</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/szures.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="szures-container">
      <form action="/szures" method="post" class="input">
        <h1>Keresés</h1>
        <input type="text" placeholder="Magyar Címe" name="MagyarCim" />
        <input type="text" placeholder="Eredeti Címe" name="EredetiCim" />
        <input type="number" min="1927" max="1999" placeholder="Év" name="Ev" />
        <input type="text" placeholder="Rendező" name="Rendezo" />
        <input
          class="form-control"
          list="categoryListOptions"
          id="categoryDataList"
          name="Kategoria"
          placeholder="Kategória"
          oninput="fillCategoryData(this.value);"
        />
        <datalist id="categoryListOptions"> </datalist>
        <input
          class="form-control"
          list="actorListOptions"
          id="actorDataList"
          name="Szinesz"
          placeholder="Szinesz"
          oninput="fillActorData(this.value);"
        />
        <datalist id="actorListOptions"> </datalist>
        <input type="submit" value="Szűrés" />
      </form>
    </div>
    <script>
      async function fillActorData(name) {
        const actorListData = document.getElementById("actorListOptions");
        url = "/getActor/" + name;
        await fetch(url, { method: "GET" })
          .then((response) => response.text())
          .then((lista) => {
            actorListData.innerHTML = lista;
          });
      }
    </script>
    <script>
      function fillCategoryData(name) {
        const categoryListData = document.getElementById("categoryListOptions");
        url = "/getCategory/" + name;
        fetch(url, { method: "GET" })
          .then((response) => response.text())
          .then((categoryLista) => {
            categoryListData.innerHTML = categoryLista;
          });
      }
    </script>
  </body>
</html>
