<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/valtoztat.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Retro Film Kincsek</title>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="valtoztat-container">
      <form action="/user/profil/valtoztat" method="post" class="input" onsubmit="passCheck()">
        <h1>Adatok Változtatása</h1>
        <input type="text" placeholder="Teljes Név" maxlength="20" name="fullname">
        <input type="text" placeholder="Felhasználónév" maxlength="20" name="username">
        <input type="email" placeholder="Email" maxlength="20" name="email">
        <input type="password" placeholder="Jelszó" maxlength="30" name="password">
        <input type="password" placeholder="Jelszó megerősítése" maxlength="30" name="passwordConfirm">
        <input type="submit" value="Változtatás">
      </form>
    </div>
    <script>
      function passCheck()
       {
       var pass = document.getElementsByName("password");
       
       if (pass[0].value.trim() === "") {
            return "";
       }
         var confpass = document.getElementsByName("passwordConfirm");
         if (pass[0].value.length > 8) {
          if (pass[0].value == confpass[0].value) {
              return true;
          } else {
            alert("A jelszók nem egyeznek meg");
            return false;
           }
        } else {
           alert("A jelszónak minimum 8 karakter hosszúnak kell lennie");
           return false;
          }
         } 
      
    </script>
</html>
